body {
  font-family: "Open Sans", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.container{
  margin: 5% 0 0 10%;
  display: inline-grid;
  width: 10%;
  
}

.center-elem{
  width: 60%;
  margin: 0 0 0 20%;
  padding-left: 10%;
}

.log{
  margin: 0 0 0 400px;
}

#about{
  width:160%;
  text-align: right;

}

mgt-login{
  justify-content: center;
  background-color: #FB942E;
  --font-size: 37px;
  --font-weight: 600;
  --height: 57px;
  width: 305px;
  --margin: 0;
  margin: 0;
  --padding: 0 20px;
  --color: #ffffff;
  --background-color: transparent;
  --popup-command-font-size: 12px;
  --popup-color: #201f1e;
  border-radius: 28.5px;
}



nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
  font-size: 39px;
  font-family: 'Open Sans';
  font-weight: 200;
  display: block;
  color: black;
  text-align: center;
  padding: 47px 0 0 63px;
  text-decoration: none;
}

h1{
  font-family: 'flegrei';
  /* font-size: 117px; */
}