body {
  font-family: "Open Sans", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.container{
  margin: 10%;
  display: inline-grid;
  width: 10%;
  
}

mgt-login{
  background-color: #6ABEA7;
  --font-size: 14px;
  --font-weight: 600;
  --height: 57px;
  width: 305px;
  --margin: 0;
  --padding: 12px 20px;
  --color: #201f1e;
  --background-color: transparent;
  --popup-command-font-size: 12px;
  --popup-color: #201f1e;
  border-radius: 28.5px;


}

.login-button{
  width: 300px;
}
.login-button:hover{
  background-color: #6ABEA7 !important; 
  color: #6ABEA7 !important;
  --color: #6ABEA7 !important;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
  font-size: 39px;
  font-family: 'Open Sans';
  font-weight: 200;
  display: block;
  color: black;
  text-align: center;
  padding: 47px 0 0 63px;
  text-decoration: none;
}

h1{
  font-family: 'flegrei';
  /* font-size: 117px; */
}